{{#each this}}
<li>
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <article>
            <h2>{{title}}</h2>
            <img src="{{urlToImage}}" alt="" width="480">
            <li>Capital:{{1}}</li>
            <li>Population:{{2}}</li>
            <li>Languages:<ul>
                {{#each languages}}
                <li>{{3}}</li>
                {{/each }}
            </ul></li>
        </article>
    </a>
</li>
{{/each}}